@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Londrina+Solid&display=swap');


/*Navigation Bar */
.site-header a, nav a, header a {
    color: #ffffff !important;
    font-size: 16px;
    font-family: 'Allerta'; 
    margin-right: 165px;
  }
  /*Navigation Bar in hover */
  .site-header a:hover, nav a:hover, header a:hover {
    color: #ffffff !important;
  }


/*Header*/
.post-header {
    color: rgb(252, 252, 252);
    font-family: 'Londrina Solid';
    font-size: 50px;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    background-color: rgb(3, 21, 37);
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*Main Body (Background)*/
body {
    margin: 0;
    background-color: rgb(3, 21, 37);
    background-image:
        radial-gradient(circle at 10% 20%, #ffd900d0 4px, transparent 5px),
        radial-gradient(circle at 30% 35%, #00ffff88 10px, transparent 6px),
        radial-gradient(circle at 30% 95%, #ff69b4b0 7.5px, transparent 5px),
        radial-gradient(circle at 95% 10%, #ffffff 2px, transparent 2.5px),
        radial-gradient(circle at 50% 40%, #88cc62 6px, transparent 5px),
        radial-gradient(circle at 5% 90%, #ffffff 1.5px, transparent 2px);
    background-repeat: repeat;
    background-size: 450px 450px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

/* For text containers*/
.main-content {
    width: 100%;
    max-width: 1450px;
    background-color: rgb(3, 21, 37); 
    padding: 2rem;
    color: white;
    font-family: 'Allerta';
    font-size: 15px;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 20px;
}

/*Footer */
.site-footer, .site-footer p, .site-footer span {
  color: #ffffff !important; 
}
/* Footer link color */
.site-footer a {
    color: #ffffff !important; /* white links */
    text-decoration: none;
}







/*
iframe {
    display: block;

}

iframe.active {
    display: block; 

}
*/


/*button{
    background-color: rgb(170, 186, 230);
    color: black;
    border: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.05);
}

button:active {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.1);
}*/