@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color:rgb(9, 27, 41);
    font-family: 'Montserrat'; font-size: 15px; color: rgb(255, 255, 255); 
}

.post-header {
    color: yellow;
}

.page {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 27, 41);
}

iframe {
    display: block; /* Show*/

}

iframe.active {
    display: block; /* Show*/

}

button{
    background-color: rgb(170, 186, 230);
    color: black;
    border: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.05);
}

button:active {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.1);
}