@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Londrina+Solid&display=swap');

body {
    background-color:rgb(9, 27, 41);
    font-family: 'Allerta'; font-size: 15px; color: rgb(255, 255, 255); 
}

.body-header {
    color: rgb(243, 201, 105);
    font-family: 'Allerta';
    font-size: 28px;
}

.post-header {
    color: rgb(252, 252, 252);
    font-family: 'Londrina Solid';
    font-size: 50px;
}

.page {
    font-family: 'Allerta';
    color: rgb(255, 255, 255);
    background-color: rgb(9, 27, 41);
}

nav a, .navbar a, .site-nav a {
    color: #ffffff !important; /* Make sure it overrides theme */
}

iframe {
    display: block; /* Show*/

}

iframe.active {
    display: block; /* Show*/

}

button{
    background-color: rgb(170, 186, 230);
    color: black;
    border: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.05);
}

button:active {
    background-color: #385e86;
    color: white;
    border: 8px;
    transform: scale(1.1);
}